<div class="ml-3">
  <ng-content></ng-content>
  <div *ngIf="control">
    <div [ngSwitch]="control.type">
      <div *ngSwitchCase="'String'">
        <div>
          <input
            [ngClass]="{'ng-invalid': control.valid.value === false, 'ng-dirty':control.valid.value === false}"
            name="{{control.id}}"
            type="text"
            pInputText
            [(ngModel)]="control.value" (input)="resetValidity()">
        </div>
        <div *ngIf="control.valid.value === false" class="mt-1 mb-1">
          <span style="color: #f84b4b" [innerHTML]="getMessage()"></span>
        </div>
      </div>
      <div *ngSwitchCase="'Date'">
        <div>
          <p-calendar
            [ngClass]="{'ng-invalid': control.valid.value === false, 'ng-dirty':control.valid.value === false}"
            dateFormat="dd/mm/yy"
            [(ngModel)]="control.value" (ngModelChange)="resetValidity()" (onInput)="resetValidity()">
          </p-calendar>
        </div>
        <div *ngIf="control.valid.value === false" class="mt-1 mb-1">
          <span style="color: #f84b4b" [innerHTML]="getMessage()"></span>
        </div>
      </div>
      <div *ngSwitchCase="'Number'">
        <!-- todo control toevoegen -->
        <p-inputNumber
          [ngClass]="{'ng-invalid': control.valid.value === false, 'ng-dirty':control.valid.value === false}"
          name="{{control.id}}"
          [(ngModel)]="control.value" (onInput)="resetValidity()">
        </p-inputNumber>
        <p-inputNumber
          [ngClass]="{'ng-invalid': control.valid.value === false, 'ng-dirty':control.valid.value === false}"
          name="{{control.id}}"
          mode="{{mode}}"
          currency="{{currency}}"
          [maxFractionDigits]="maxFractionDigits"
          [(ngModel)]="control.value" (onInput)="resetValidity()">
        </p-inputNumber>
        <div *ngIf="control.valid.value === false" class="mt-1 mb-1">
          <p-messages severity="error">
            <ng-template pTemplate>
              <span class="ml-2" [innerHTML]="getMessage()"></span>
            </ng-template>
          </p-messages>
        </div>
      </div>
      <div *ngSwitchCase="'Radio'">
        <!-- todo control toevoegen -->
      </div>
      <div *ngSwitchCase="'Checkbox'">
        <!-- todo control toevoegen -->
      </div>
      <div *ngSwitchCase="'Single select'">
        <!-- todo control toevoegen -->
      </div>
      <div *ngSwitchCase="'Picklist'">
        <!-- todo control toevoegen -->
      </div>
    </div>
  </div>
</div>




