<div class="ml-3">
  <ng-content></ng-content>
  <div *ngIf="control">
    <div [ngSwitch]="control.type">
      <div *ngSwitchCase="'text'">
        <div>
          <input
            [ngClass]="{'ng-invalid': control.valid.value === false, 'ng-dirty':control.valid.value === false}"
            name="{{control.id}}"
            type="text"
            pInputText
            [(ngModel)]="control.value" (input)="resetValidity()">
        </div>
        <div *ngIf="control.valid.value === false" class="mt-1 mb-1">
          <span style="color: #f84b4b" [innerHTML]="getMessage()"></span>
        </div>
      </div>
      <div *ngSwitchCase="'date'">
        <div>
          <p-calendar
            [ngClass]="{'ng-invalid': control.valid.value === false, 'ng-dirty':control.valid.value === false}"
            dateFormat="dd/mm/yy"
            [(ngModel)]="control.value" (ngModelChange)="resetValidity()" (onInput)="resetValidity()">
          </p-calendar>
        </div>
        <div *ngIf="control.valid.value === false" class="mt-1 mb-1">
          <span style="color: #f84b4b" [innerHTML]="getMessage()"></span>
        </div>
      </div>
      <div *ngSwitchCase="'number'">
        <!-- todo control toevoegen -->
      </div>
      <div *ngSwitchCase="'money'">
        <div>
          <p-inputNumber
            [ngClass]="{'ng-invalid': control.valid.value === false, 'ng-dirty':control.valid.value === false}"
            name="{{control.id}}"
            mode="currency"
            currency="EUR"
            [maxFractionDigits]="0"
            [(ngModel)]="control.value" (onInput)="resetValidity()">
          </p-inputNumber>
        </div>
        <div *ngIf="control.valid.value === false" class="mt-1 mb-1">
          <span style="color: #f84b4b" [innerHTML]="getMessage()"></span>
        </div>
      </div>
      <div *ngSwitchCase="'gearName'">
        <!-- todo control toevoegen -->
      </div>
      <div *ngSwitchCase="'firstName'">
        <!-- todo control toevoegen -->
      </div>
      <div *ngSwitchCase="'lastName'">
        <!-- todo control toevoegen -->
      </div>
      <div *ngSwitchCase="'radio'">
        <!-- todo control toevoegen -->
      </div>
      <div *ngSwitchCase="'checkbox'">
        <!-- todo control toevoegen -->
      </div>
      <div *ngSwitchCase="'single select'">
        <!-- todo control toevoegen -->
      </div>
      <div *ngSwitchCase="'picklist'">
        <!-- todo control toevoegen -->
      </div>
    </div>
  </div>
</div>




